# Python
__pycache__/
*.py[cod]
*$py.class
venv/
env/
.env
*.db

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Playwright Profiles / local test storage
test-profile/

# OS
.DS_Store
Thumbs.db

# IDEs
.idea/
.vscode/

edge-client/zerocart_chrome_profile/
scratch/
*.log
edge-client/test_login.js
edge-client/iceland_error.png
